bin
src
.project
.classpath
.metadata
.settings
*.log
*.java~
*.xml
target/test-classes
target/surefire*
target/classes
target/checkout
target/generated-classes
target/classes
target/maven-archiver
target/javadoc-bundle-options
